@import "https://use.typekit.net/oov2wcw.css";

box {
  text-align: center;
}

table, td {
  border: 1px solid;
  padding: 5px;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

.navbar {
  text-align: right;
}

a {
  padding: 5px;
}

#center {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    vertical-align: middle;
    margin-right: auto;
}

table#center {
    border: 2px solid white;
}

